body {
    color: #5f6368;
}

strong {
    color: #202124;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

p {
    color: #5f6368;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
}

h1 {
    color: #202124;
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 350;
}
h2 {
    color: #202124;
    font-size: 26px;
    line-height: 1.154em;
    font-family: 'Lato';
}

h3 {
    color: #202124;
    font-size: 22px;
    line-height: 1.136em;
}

h4 {
    color: #202124;
    font-size: 18px;
    line-height: 1.1em;
}

.boxShadow {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 1.125em;
    }
    h2 {
        font-size: 32px;
        line-height: 1.25em;
    }
    h3 {
        font-size: 24px;
        line-height: 1.25em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 48px;
        line-height: 1.05em;
    }
    h2 {
        font-size: 36px;
        line-height: 1.25em;
    }
    h3 {
        font-size: 28px;
        line-height: 1.25em;
    }
    h4 {
        line-height: 1.2em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}